<div>
    {{!-- <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre y apellido:{{user.full_name}}</p>
    <p>E-mail:{{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol:{{user.rol}}</p> --}}
    <a href="/api/sessions/logout"><button>salir</button></a>
</div>
<div>
    <p id="result"></p>
</div>
<script src="/js/profile.js"></script>